@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Pacifico&display=swap');

@import "tailwindcss";
@config "../../../tailwind.config.ts";

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/thumbs';
@import 'swiper/css/autoplay';
@import "tw-animate-css";

html {
    font-size: 62.5%;
}

html body {
    font-family: 'Lora', serif;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
}

.swiper-thumbnail-item {
    border: 1px solid #d7d7d7;
    transition: border-color 0.3s linear, opacity 0.3s linear;
}

.swiper-slide-thumb-active {
    border-color: #ff6262 !important;
    opacity: 1;
}

.swiper-slide-thumb-active img {
    transform: scale(1.05);
    transition: transform 0.3s linear;
}